<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPiEYMp5HkMRa5MOMLQppV8KsIQJVRezc</string>
	<key>GCM_SENDER_ID</key>
	<string>511814064326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myfirstproject.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-fcc-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-fcc-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511814064326:ios:c74ff5d76352dbec955fc7</string>
</dict>
</plist>